<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689422627040-c7vvm5cb2iidjo5qgq2lq61f8ok3tcas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689422627040-c7vvm5cb2iidjo5qgq2lq61f8ok3tcas</string>
	<key>API_KEY</key>
	<string>AIzaSyDmOWJidNGX-uZLYzq-TH6XSgN507pZpMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>689422627040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stockPredictor</string>
	<key>PROJECT_ID</key>
	<string>stock-predictor-c1437</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-predictor-c1437.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689422627040:ios:68d4b9e9f073d7129f6085</string>
</dict>
</plist>